---
import "../styles/theme.css";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	lang?: string;
}

const {
	title = "autyzm.poznan.pl",
	description = "Site content coming soon.",
	lang = "pl"
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#ffffff" />
		<meta name="apple-mobile-web-app-title" content="MÓZG" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
